.booking-section {
    background-color: #495E57;
    height: 430px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-content: center;
    position: relative;
}

.booking-section h1{
    color: #F4CE14;
    padding-top: 160px;
}