footer {
    background-color: #495E57;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

footer section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
}

footer img {
    width: 160px;
    height: 280px;
    margin-right: 10px;
    margin-left: 10px;
}

footer p {
    text-align: right;
    width: 100%;
    margin-right: 100px;
}