header {
    height: 122px;
    width: 100%;
    background-color: #EDEFEE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

header section {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

header img {
    width: 250px;
    height: 75px;
    margin-left: 30px;
}