nav {
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    margin: 0 auto;
  }

menu {
    display: flex;
    list-style: none;
    text-align: center;
    font-family: Karla;
    font-size: 18px;
    font-weight: 950;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: #000;
    margin-right: 30px;
    align-self: center;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus  {
    color: #F4CE14;
    -webkit-text-stroke: .5px #000;
}

@media (max-width: 1100px) {
    .mobile-navigation {
        position: fixed;
        top: 122px;
        right: -280px;
        width: 280px;
        height: 500px;
        background-color: #edefeedb;
        transition: right 0.3s ease;
        z-index: 9998;
        border-bottom-left-radius: 16px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }

    .mobile-navigation.open {
        right: 0; /* Slide in when open */
    }

    .hamburger-menu {
        position: fixed;
        top: 35px;
        right: 25px;
        cursor: pointer;
        z-index: 9999;
    }

    menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 28px;
        width: 280px;
        padding-left: 0%;
        margin-left: 0%;
    }

    .line {
        width: 40px;
        height: 7px;
        background-color: #495E57;
        margin: 8px 0;
        transition: transform 0.3s ease;
        border-radius: 8px;
    }

    .open .line:nth-child(1) {
        transform: rotate(-45deg) translate(-10px, 11px);
    }

    .open .line:nth-child(2) {
        opacity: 0;
    }

    .open .line:nth-child(3) {
        transform: rotate(45deg) translate(-10px, -11px);
    }

    .nav-link {
        display: block;
        text-align: center;
        width: 280px;
        padding: 15px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    .nav-link:active,
    .nav-link:hover,
    .nav-link:focus  {
        background-color: #46664b;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        border-top: 2px solid #F4CE14;
        border-bottom: 2px solid #F4CE14;
    }
}