nav {
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    margin: 0 auto;
  }

menu {
    display: flex;
    list-style: none;
    text-align: center;
    font-family: Karla;
    font-size: 18px;
    font-weight: 950;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: #000;
    margin-right: 30px;
    align-self: center;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus  {
    color: #F4CE14;
    -webkit-text-stroke: .5px #000;
}