.sitemap-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    min-width: 240px;
    width: 240px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.sitemap-title {
    color: #F4CE14;
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 950;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.sitemap-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.sitemap-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: 'none';
    text-align: center;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 600;
    width: 80%;
}

.sitemap-nav-link {
    display: flex;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    align-self: center;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.sitemap-nav-link:active,
.sitemap-nav-link:hover,
.sitemap-nav-link:focus  {
    color: #F4CE14;
    -webkit-text-stroke: .5px #000;
}